<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>

      <P>아띠 엔터테인먼트 직원 전용 페이지 입니다.</p>

    </div>
  </body>
</html>
