<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>아띠 엔터테인먼트</h1>
        <P>임직원 전용 페이지 입니다.</p>
      </div>

    </div>
  </body>
</html>
