<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <div class="container mb-3">

        <h2 class="mb-3">업로드가 왼료되었습니다.</h2>
        <h2 class="mb-3">잠시 후 이동합니다....</h2>

    </div>
</body>
 <script type='text/javascript'>
  setTimeout("location.href='/files'",1000);
 </script>
</html>